@import url('<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">');
body{
    background:pink;
    font-family: 'Redressed', cursive !important;
    font-size: 20px !important;
    background: white ;
  }
  ul{
   
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 15px;
  }
  
  ul li{
    padding: 7px;
  }
  h1{
    color: #0B045B;
    font-size: 50px !important;
  }
  nav{
    display: inline-block;
  }
  input[type=button]{
    font-size:small;
    padding: 5px;
    background-color: transparent;
    border: 1px solid green;
    border-radius: 4px;
  }
  input[type=button]{
    color: black;
    background-color: pink;
    padding: 15px;
    cursor: pointer;
  }
  @media screen and (min-width:1020px) {
  ul{
    width:40rem;
  }
  input[type=button]{
    font-size:large;
    padding: 12px;
  }
  }